html {
  font-size: 14px;

  background-color: #f0f4f6;

  @media only screen and (min-width: 801px) {
    font-size: 16px;
  }
}

.nav {
  background-color: #65cae2;
  display: flex;
  list-style: none;
  padding: 25px;

  li {
    line-height: 50px;
    margin-left: 20px;
    .nav-item {
      padding: 10px 5px;
      text-decoration: none;
      font-size: 30px;
      color: #fff;
    }
  }
}